@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root {
  --unique-blue-color: rgba(3,77,173,255);
  --ghost-white-color: ghostwhite;
}

body {
  /* background: linear-gradient(90deg, var(--ghost-white-color) 70%, var(--unique-blue-color) 0%); */
	font-family: 'Dosis', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* --- Login Screen --- */
.loginpage-wrapper {
  background: linear-gradient(90deg, var(--ghost-white-color) 70%, var(--unique-blue-color) 0%);
  height: 100vh;
  overflow: hidden;
}
.login-container {
  margin: 18vh auto;
}
.loginpage-wrapper .welcome-note {
	margin: auto;
	margin-top: 12vh;
}
.loginpage-wrapper .welcome-note h1 {
	font-weight: bold;
	color: var(--unique-blue-color);
}
.loginpage-wrapper .login-form {
	background-color: var(--ghost-white-color);
	border-radius: 15px;
	padding: 7.5vh 5vh;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.11), 
              2px 2px 2px rgba(0,0,0,0.11),
              4px 4px 4px rgba(0,0,0,0.11), 
              8px 8px 8px rgba(0,0,0,0.11),
              16px 16px 4px rgba(0,0,0,0.11),
              20px 22px 0 rgba(0,0,0,0.11),
              -2px 2px 2px rgba(0,0,0,0.11),
              -4px 4px 4px rgba(0,0,0,0.11), 
              -8px 8px 8px rgba(0,0,0,0.11);
}
.loginpage-wrapper .input-field {
	margin: 3vh auto;
}
.loginpage-wrapper label[for=username], label[for=password] {
	font-weight: bolder;
	padding-right: 7px;
} 
.loginpage-wrapper input[type=text], input[type=password] {
  /* width: 100%; */
  /* display: inline-block; */
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.loginpage-wrapper input[type="text"]:focus, 
.loginpage-wrapper input[type="password"]:focus {   
  border-color: var(--unique-blue-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 2px var(--unique-blue-color);
  outline: 0 none;
}

.loginpage-wrapper button[type="submit"] {
  background-color: var(--unique-blue-color);
  color: var(--ghost-white-color);
  margin: 3.5vh auto;
  /* border: none; */
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.11), 
              2px 2px 2px rgba(0,0,0,0.11);
	transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
}

.loginpage-wrapper button[type="submit"]:hover {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.11), 
              2px 2px 2px rgba(0,0,0,0.11),
              4px 4px 4px rgba(0,0,0,0.11), 
              8px 8px 8px rgba(0,0,0,0.11);
	transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
}