@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root {
  --unique-blue-color: rgba(3,77,173,255);
  --ghost-white-color: ghostwhite;
}

body {
  /* background: linear-gradient(90deg, var(--ghost-white-color) 70%, var(--unique-blue-color) 0%); */
	font-family: 'Dosis', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
